listen: :443

tls:
  cert: /etc/hysteria/certs/fullchain.pem
  key: /etc/hysteria/certs/privkey.pem

auth:
  type: http
  http:
    url: http://nest-app:5000/internal/hysteria/auth
    insecure: true

trafficStats:
  listen: :9999
  secret: "{{TRAFFIC_STATS_SECRET}}"

masquerade:
  type: proxy
  proxy:
    url: https://www.cloudflare.com

bandwidth:
  up: 1 gbps
  down: 1 gbps

outbounds:
  - name: to_exit
    type: socks5
    socks5:
      addr: hysteria-exit:1080
